<div style="padding:10px;"> </div>
<div class="container" id="notice_container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
  	<table class="table">
  	  	<div class="panel panel-default">
    			<div class="panel-body">
      			학과 공지 게시판
    			</div>
  		</div>
  	  	<!-- <caption class="NoticeAll"> 전체 공지 </caption> -->

  	  	<thead>
  	        <tr>
  	          <th>글 번호</th>
              <th>공지 대상</th>
  	          <th>제 목</th>
  	          <th>작성자</th>
  	          <th>작성 일자</th>
  	        </tr>
  	  	</thead>
  	  	<tbody id="post">
            <%= render :partial => 'notice/post' %>
  	  	</tbody>
      </table>
        <%= link_to("글 작성", new_notice_path, class: "btn btn-default pull-right", role: "button") %>
      <div class="text-center paginator">
        <%= paginate @post, :window => 2 %>
      </div>
      <!-- <div id="counter"class="pagination_count text-center">
        <%= page_entries_info @post, :remote => true %>
      </div> -->
    </div>
  </div>
</div>
