<% @board.each do |p| %>
  <tr>
    <th scope="row"><%= p.id %></th>
    <td> <%= link_to "#{p.title}", freeboard_path(p.id) %> </td>
    <td> <%= p.author %> </td>
    <td> <%= p.updated_at.strftime("%Y. %m. %d") %> </td>
  </tr>
<% end %>
