<div class="comment_header">
  <h2 class="comment_title"> Comments </h2>
</div>

<% @notice_comments.reverse.each do |c| if c.post_id == @post.id %>
  <div class="comment_body">
    <div class="comment">
      <% @user.each do |u| %>
        <% if u.id == c.user_id %>
          <div class=content_header>
            <span class="comment_author"> <%= u.grade %> 학년 <%= u.username %> </span>
          </div>
        <% end %>
      <% end %>
      <small class="comment_content">
        <%= c.content %>
      </small>
    </div>
  </div>
  <% end %>
<% end %>
