// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 1280px) {
  .form-inline > #comment_input {
    width: 90%;
    display: inline-block;
  }
}

.comment_header {
  position: relative;
  width: 100%;
}

.comment_title {
  color: rgb(51, 51, 51);
  font-family: "Roboto", sans-serif;
  margin: 0px 0px 10px;
  padding: 0px 0px 5px;
  text-transform: capitalize;
  overflow: hidden;
  font-size: 25px;
  font-weight: 500;
  border-bottom-color: rgb(51, 51, 51);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  // display: inline-block;
  position: relative;
  text-align: left;
}

.comment_body {
  position: relative;;
  display: block;
}

.comment {
  text-align: left;
  display: block;
  margin: 0px 0px 10px;
}

.comment_content {
  display: block;
}

.comment_author {
  color: rgb(51, 51, 51);
}

.glyphicon-user {
  display: inline-block;
}

.content_header {
  padding: 5px;
  font-size: 20px;
}
