// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-caption {
 	background: rgba(0, 0, 0, 0.8);
}

#carousel_body {
  padding: 0px;
}

#carousel-example-generic {
  height: 100%;
}

@media (max-width: 678px) {
  #carousel-example-generic {
    height: 100%;
  }
}

@media (max-width: 400px) {
  #carousel-example-generic {
    height: 100%;
  }
}

#carousel {
  width:100%;
}


#alert {
  margin: 0 auto;
  border-radius: 0px;
}

#MainNotice {
  width: 100%;
}
