// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-caption {
 	background: rgba(0, 0, 0, 0.8);
}

#carousel_body {
  padding: 0px;
}

#carousel-example-generic {
  height: 100%;
}

@media (max-width: 678px) {
  #carousel-example-generic {
    height: 100%;
  }
}

@media (max-width: 400px) {
  #carousel-example-generic {
    height: 100%;
  }
}

#carousel {
  width:100%;
}


#alert {
  margin: 0 auto;
  border-radius: 0px;
}

#MainNotice {
  width: 100%;
}

.post_index {
  margin: 0px;
}

.MainTop {
  width: 100%;
  background-color: gray;
  margin: 0 auto;
}


.MainTopTitle {
  font-size: 50px;
  text-align : center;
  height: 630px;
  font-color: white;
}

.notice_post, .board_post{
	color: black;
}

.notice_post:hover, .board_post:hover {
	color: rgba(0, 0, 255, 0.47);
	text-decoration: none;
	// text-shadow:#999999 1px 1px 1px; // 텍스트 그림자 효과
	// font-weight: bold;

}
